@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --base-color-1: #c2b1a7;
    --base-color-2: #745e51;
    --text-color: #000000;
    --primary-color: #ffc06e;
    --secondary-color: #8D8DFF;
    --color-1: #ccbfb1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text-color);
}

body {
    padding: 1em;
    background-image: linear-gradient(45deg, var(--base-color-2) 0%, var(--base-color-2) 33.33%, var(--base-color-1) 33.33%, var(--base-color-1) 66.66%, var(--base-color-2) 66.66%, var(--base-color-2) 100%);
}

h1, h2, h3 {
    font-family: Merriweather, Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    margin: 1em auto 3em auto;
    width: min(1000px, 100%);
}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 2em;
}

nav li:first-child {
    margin-right: auto;
    font-family: Merriweather, Poppins;
    font-weight: bold;
}

nav a {
    text-decoration: none;
    color: var(--text-color);
}

nav a:hover {
    text-decoration: underline;
}

header, section {
    margin: 2em auto;
    width: min(75em, 100%);
    background-color: var(--color-1);
    padding: min(2em, 15%);
    border-radius: 1em;
    box-shadow: 0 0.15em 0.15em 0.15em #2b2017;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3em;
}

header img {
    max-width: 100%;
    border-radius: 1em;
    object-fit: cover;
    object-position: center;
}

.text-container {
    flex: 0 1 34em;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 0.25em;
}

.text-container {
    margin: .75em 0 1em 0;
    font-size: 1.25rem;
}

.cta-button {
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: var(--primary-color);
    padding: .75em 1.25em;
    border-radius: .5em;
    font-weight: 600;
    margin-top: 1em;
}

.secondary {
    background-color: var(--secondary-color);
}

section {
    padding: 3em min(2em, 15%);
    background-color: var(--color-1);
    text-align: center;
}

h2 {
    font-size: 2rem;
}

section p {
    margin-top: 1em;
    font-size: 1.25rem;
}

section#om-mig {
    background-color: var(--color-1);
}

footer {
    padding-bottom: 1.5em;
    text-align: center;
}

footer a {
    margin: 0 1em;
    text-decoration: none;
    color: var(--text-color);
}

footer a:hover {
    text-decoration: underline;
}

@media(max-width: 1023px) {
    header {
        text-align: center;
    }

    header .text-container {
        padding-top: 0;
    }
}

h3 {
    font-family: Merriweather, Poppins;
    font-size: 2rem;
}

section#tidligere-kunder {
    background-color: var(--color-1);
}

.tidligere-kunde {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3em;
}

.tidligere-kunde p {
    margin-bottom: 1em;
    width: min(500px, 100%);
}

.tidligere-kunde img {
    max-width: 100%;
    border-radius: 1em;
    object-fit: cover;
    object-position: center;
    transition: 100ms ease;
    margin-top: 1em;

    &:hover {
        scale: 1.05;
    }
}

.Kontakt-container p {
    margin-bottom: 2em;
}

form {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;

    @media (min-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
    }

    .form-group {

        &.full {
            grid-column: 1 / -1;
        }

        label {
            display: block;
            margin-bottom: .5em;
        }

        .form-element {
            appearance: none;
            outline: none;
            border: none;

            display: block;
            width: 100%;

            border-radius: .5em;
            padding: 12px 16px;
            background-color: #F0F0F0;
            transition: 0.4s;

            &:focus {
                box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
                background-color: white;
            }
        }

        textarea {
            resize: none;
            min-height: 100px;

            font-family: Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    }

    .submit-group {
        grid-column: 1 / -1;

        input[type="submit"] {
            appearance: none;
            border: none;
            outline: none;
            background: none;

            padding: 16px;
            background-color: var(--secondary-color);
            border-radius: 8px;
            color: white;
            cursor: pointer;
            transition: 0.3s;

            font-family: Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

            &:hover {
                background-color: #4D4DFF;
            }
        }
    }
}

section#Kontakt {
    background-color: var(--color-1);
}

details {
    margin-top: 1em;
    background-color: wheat;
    border-radius: 1em;
}

details summary {
    padding: 1em;
    font-size: 1.75em;
    font-family: Merriweather, Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

details p {
    padding: 0 2em 2em 2em;
}